
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone to read and write to the database.
    // It is configured for initial development and is not secure for production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
