rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read and write access for all files.
    // This is suitable for development but you may want to secure it further for production.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
